# Build
Riftwalker/build/

# Save files & config (user-specific)
riftwalker_save.dat
riftwalker_bindings.cfg

# Claude Code project settings
.claude/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vs/
.vscode/
*.user
